body {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.buttonClass {
    width: 100%;
    border: 1px solid #3a3a3a;
    border-style: outset;
    outline: none;
    color: #ffffff;
    background: #222222;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    font-size: 3vw;
}

.buttonClass:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.buttonClass:active {
    color: #000
}

.buttonClass:active:after {
    background: transparent;
}

.buttonClass:hover:before {
    opacity: 1;
}

.buttonClass:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222222;
    border: 1px solid #3a3a3a;
    border-style: inset;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-holder {
    padding: 3vw;
}

.cep-ui {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.col-md-2 {
    max-width: 20%;
}

.col-md-3 {
    max-width: 25%;
}

.input-group {
    flex-wrap: nowrap;
}

#tandemInput {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

#newProject {
    height: 100%;
    width: 100%;
}

#tandemName {
    height: 50%;
    width: 100%;
    margin-top: 2px;
}

.form-check {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

#hasBoard {
    height: 4vw;
    width: 30%;
    min-width: 30px;
    min-height: 15px;
    max-height: 50px;
    white-space: nowrap;
}

#tandemName,
#hasBoardLabel {
    font-size: calc(4px + 3vw);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    justify-content: left;
    position: relative;
    padding-left: 4px;
    padding-top: 2px;
}

#new-proj-button {
    height: 100%;
    vertical-align: middle;
}

#selectClips, #effectsAndTransitionSME {
    height: 58%;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}

#select-button {
    width: 100%;
    white-space: nowrap;
    text-overflow: clip;
}

#decrementResetContainer, #autoDuckSME {
    height: 50%;
    width: auto;
    display: flex;
    flex-direction: row;
    transform: scale(0.8);
    margin-top: 0;
}

.decrementResetWrapper {
    margin: 0 1px;
    width: 100%;
    height: calc(6px + 3vw);
}

#select-counter {
    cursor: default;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

}

#selectCounter {
    margin-right: 1px;
    margin-left: 1px;
}

#homeButtonHolder,
#fhdButtonHolder,
#smeButtonHolder,
#settingsButtonHolder {
    margin-top: 8vw;
}

#homeTab,
#settingsTab {
    width: 20%;
}

.tabButtons {
    display: flex;
    position: fixed;
    top: 5px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.tabButton {
    position: relative;
    background-color: #3a3a3a;
    color: #ecececf6;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    cursor: pointer;
    border: none;
    width: 50%;
    outline: none;
    transition: background-color 0.3s;
    padding: 3px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

.tabButton::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: width 0.3s;
}

.tabButton:hover::after {
    width: 100%;
}

.tabButton:focus {
    background-color: #2f2f2f;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
    outline: none;
}

.tabButton:focus::after {
    width: 100%;
}

.miscButtons {
    display: flex;
    position: relative;
    bottom: 5px; 
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    transform: scale(.8);
    margin-top: 10px;
}

.miscButton {
    margin-right: 5px;
    margin-left: 5px;
}
